.my-span {
    position: absolute;
    top: 90%;
    right: 10%;
    color: white;
    font-size: 34px;
    background-color: white;
    background:rgba(255, 255, 255,0.5);
}

.my-span-img {
    position: absolute;
    top: -10%;
    right: 35%;
    color: white;
    font-size: 34px;
    opacity: 0.3;
}

.result {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 34px;
    /*opacity: 0.3;*/
}
