<div class="col-lg-12 image">
    <img style="height: 65vh; width:100%;" src="../../assets/images/coronavirus.jpg" alt="empty">
    <div class="bg-text">
        <h1 class="text-white font-weight-bold mb-2" style="font-family: Monaco; font-size: 45px;">#BrEx</h1>
        <h3 class="text-white" style="font-family: Monaco; font-size: 20px;">{{motto}}</h3>
    </div>
</div>

<div class="row col-lg-12 mt-5 mb-5 mr-0 ml-0">
    <div class="col-lg-4">
        <div class="card border-0 p-3" id="my-card">
            <div class="d-flex justify-content-center mb-4">
                <img src="../../assets/images/lungs.png" width="100" class="d-inline-block align-top" alt="">
            </div>
            <p class="" style="font-family: Monaco;">COVID-19 infects the lung cells and an excess of inflammation liquid comes out. This inflammation liquid prevents O<sup>2</sup> transfer to blood cells and patient starts to have breathing problems.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0 p-3" id="my-card">
            <div class="d-flex justify-content-center mb-4">
                <img src="../../assets/images/scuba-tank.png" width="100" class="d-inline-block align-top" alt="">
            </div>
            <p class="text-center" style="font-family: Monaco;"> The current treatment is to perform breathing exercises to get rid of the inflammation liquid. The idea is to come with an app to perform breathing exercises to the user.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0 p-3" id="my-card">
            <div class="d-flex justify-content-center mb-4">
                <img src="../../assets/images/how-it-works.png" width="100" class="d-inline-block align-top" alt="">
            </div>
            <p class="text-center" style="font-family: Monaco;">The app is going to check if the user is doing the breathing exercises right while detecting the expansion of the chest.</p>

        </div>
    </div>
</div>

<div class="bg-light mt-5">
    <div class="text-center mt-3">
        <h1 class="text-center pt-5" style="font-family: Monaco;">Press</h1>
    </div>
    <div class="row mt-5">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-5 ml-5">
            <iframe width="560" height="315" [src]='safeURL' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 my-auto">
            <h4 class="text-center" style="font-family: Monaco;">Doctor at Queens Hospital in the UK advises on potential lifesaving corona virus breathing technique</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-5 my-auto">
            <h4 class="text-center" style="font-family: Monaco;">Breathing exercises during coronavirus era. How to breathe by physiotherapist Lucy Macdonald</h4>
        </div>
        <div class="col-lg-5 ml-5 pb-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VVEIiOOlguE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>

</div>

<div class="d-flex justify-content-center mt-5 mb-5">
    <button class="btn btn-primary btn-lg" [routerLink]="['/exercise']" (click)="onDisplayClick()">Try out!</button>
</div>


